:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Poppins",
        sans-serif;
    --default-font-family: "Playfair Display",
        serif;
}


.about-section {
    text-align: center;
    margin-top: 80px;
}
.content-container {
    text-align: center;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 64px;
    text-align: center !important;
    line-height: 80px;
}

h2 {
    font-family: var(--default-font-family);
}
h3 {
    font-family:var(--heading-font-family);    
}
p{
    font-family: monospace;
}

.btn-branding {
        background: var(--branding-color);
        border-radius: 4px;
        color: white;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
    }
    img {
        size: auto;
    }

.contact {
    size: 100px;
    max-width: 100%;
    height: auto;
}
@media  (max-width: 900px) {
    img {
        size: 100px;
    }
    h1 {
        font-size: 60px;
    }
}