:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif
    --default-font-family: "Poppins",
     sans-serif;
        serif;
        --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    max-width: 90px;
}
.about-section {
    text-align: center;
    margin-top: 80px;
}
.content-container {
    text-align: center;
}
body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
    text-align: center !important;
    line-height: 80px;
    linne-height: 1.5;
}

h2 {
    font-family: var(--default-font-family);
    font-size: 64px;
     text-align: center;
}
h3 {
    font-family:var(--heading-font-family);    
    opacity: 0.7;
    text-align: center;
    margin: 0;
}
h4 {
    font-size: 48px;
}
p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.btn-branding {
        background: var(--branding-color);
        border-radius: 4px;
        color: white;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
}
   

.contact {
    font-size: 500px;
   
}
.linkedin-icon {
    font-size: 35px;
}
 img {
    width: 100%;
    height: auto;
}

p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;

}
.nav-item {
    display: flex;
    justify-content: right;
}
.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}
.navbar-brand {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--branding-color);
}
.contact-link {
    background: var(--branding-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
}

.homepage-link {
    color: var(--branding-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--branding-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--branding-color);
    box-shadow: var(--box-shadow);
    color: white;
}
.work-contact-btn {
    display: flex;
    border-radius: 4px;
        padding: 20px 15px;
        text-decoration: none;
        text-transform: capitalize;
        background: var(--branding-color);
        box-shadow: var(--box-shadow);
        color: white;
    }


footer {
    margin: 60px 0;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
footer .btn-branding {
    display: flex;
        border-radius: 4px;
        padding: 20px 15px;
        text-decoration: none;
        text-transform: capitalize;
        background: var(--branding-color);
        box-shadow: var(--box-shadow);
        color: white;

}

footer .email-link:hover {
    color: var(--branding-color);
}

footer .social-links a i {
    margin: 0 20px;
    color: black;
    background: #c094f2 ;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 400;
    transition: all 100ms ease-in-out;
}

footer .social-links a  i:hover {
    color:#c094f2;
    background: black;
}

footer .social-links a {
    margin: 0 20px;
    border-radius: 50%;
    padding: 10px;
    
}
footer .fa-brands{
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    img {
        display: none;
    }

    body {
        background-color: rgb(196, 224, 255);
    }

    h1 {
        font-size: 48px;
        line-height: 1.5;
        text-align: center;
    }

    h2 {
        font-size: 32px;
        text-align: center;
    }

    p {
        font-size: 12px;
        text-align: center;
        color: blue;
    }
}






