:root {
    --heading-font-family: "Poppins",
        sans-serif;
    --default-font-family: "Playfair Display",
        serif;


}


.about-section {
    text-align: center;
}

h1 {
    font-family: var(--heading-font-family);
    margin: 20px 50px;
}

h2 {
    font-family: var(--default-font-family);
}
p{
    font-family: monospace;
}

.btn-branding {
    button: 50px;
    border-radius: 20px;
    button-color: violet;
    border-color: blueviolet solid;

}